GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_GENAI_USE_ENTERPRISE=TRUE
GOOGLE_CLOUD_PROJECT=ninth-library-496500-d8
GOOGLE_CLOUD_LOCATION=global
GOOGLE_ACCESS_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
APPSHEET_APP_ACCESS_KEY=
NOTEBOOKLM_PROJECT_NUMBER=
